:root {
    --bg-color: #151515;
    --text-color: #ffffff;

    --ui-font: "Poppins", serif;
    --read-font: "PT Mono", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--ui-font);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}

.mainContainer>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.readingContainer {
    font-family: var(--read-font);
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
    overflow-y: auto;
    height: calc(100vh - 2rem);
    height: calc(100dvh - 2rem);
    padding: 1rem;
    line-height: 2.5;
    mask-image: linear-gradient(transparent 15%, white 35%, white 65%, transparent 85%);
}

.readingContainer h1,
.readingContainer h2,
.readingContainer h3,
.readingContainer h4,
.readingContainer h5,
.readingContainer h6 {
    line-height: 1;
    padding: 3rem 0 1.5rem 0;
}

.readingContainer li {
    line-height: 1.75;
    padding: 1rem 0;
}

.readingContainer ul,
.readingContainer p {
    padding-bottom: 3rem;
}